body{
    background-color: teal;
    font-family: 'JetBrains Mono', monospace ;
    padding: auto;
}
h1,p{
    color: white;
    font-weight: 500;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}